[user]
	name = Christopher Mason
	email = chris.mason@garmin.com
[core]
	editor = \"C:/Program Files (x86)/Notepad++/notepad++.exe\" -multiInst -notabbar -nosession -noPlugin
[push]
	default = tracking
	recurseSubmodules = check
[fetch]
	recurseSubmodules = on-demand
[i18n]
	filesEncoding = utf-8
[diff]
	tool = bc3
	guitool = beyondcompare4
[difftool]
	prompt = false
[merge]
	tool = BeyondCompare4
[color]
	ui = true
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = green bold
	new = red bold
[color "status"]
	added = yellow
	changed = green
	untracked = red
[branch "master"]
	rebase = true
[difftool "bc3"]
	path = \"C:/Program Files (x86)/Beyond Compare 3/bcomp.exe\"
	cmd = \"C:/Program Files (x86)/Beyond Compare 3/bcomp.exe\" \"$LOCAL\" \"$REMOTE\" \"/leftreadonly\"
	keepBackup = false
[mergetool "bc3"]
	path = \"C:/Program Files (x86)/Beyond Compare 3/bcomp.exe\"
	cmd = \"C:/Program Files (x86)/Beyond Compare 3/bcomp.exe\" \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\" \"/solo\"
	trustExitCode = true
[difftool "bc2"]
	path = \"C:/Program Files (x86)/Beyond Compare 2/bc2.exe\"
	cmd = \"C:/Program Files (x86)/Beyond Compare 2/bc2.exe\" \"$LOCAL\" \"$REMOTE\" \"/leftreadonly\"
	keepBackup = false
[mergetool "p4merge"]
	path = \"C:/Program Files (x86)/Perforce/p4merge.exe\"
	cmd = \"C:/Program Files (x86)/Perforce/p4merge.exe\" \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
	trustExitCode = true
[alias]
	co = checkout
[sendemail]
	identity = garmin
	chainreplyto = false
[sendemail "garmin"]
	confirm = auto
	smtpserver = smtp.garmin.com
	from = \"Mason, Chris\" <chris.mason@garmin.com>
[difftool "beyondcompare4"]
	path = C:/Program Files/Beyond Compare 4/bcomp.exe
	cmd = \"C:/Program Files/Beyond Compare 4/bcomp.exe\" \"$LOCAL\" \"$REMOTE\"
[mergetool "BeyondCompare4"]
	path = C:/Program Files/Beyond Compare 4/bcomp.exe
	cmd = \"C:/Program Files/Beyond Compare 4/bcomp.exe\" \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\"
[rebase]
	autoStash = true
[url "https://github.com/"]
	insteadof = gh:
